<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <style>
      table {
        border: 3px solid burlywood;
      }
      table.center {
        margin-left: auto;
        margin-right: auto;
      }
      th {
        color: saddlebrown;
        text-align: center;
      }
      th, td {
        background-color: linen;
        border: 2px solid burlywood;
        padding: 10px;
      }
      h1 {
        text-align: center;
        padding: 15px;
        color: saddlebrown;
        font-size: 280%;
        font-weight: 500;
      }
      body {
        background-image: url(https://i.pinimg.com/originals/5d/58/24/5d58242a11148c27bd6658d7f9e4c16c.jpg);
        background-size: cover;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg ">
      <a class="navbar-brand" href="#">Lab 4</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/lab-4/">Notes <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lab-4/add-note">Add Note</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lab-4/note-list">Note List</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <h1>Notes</h1>
    <table class="center">
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      <!-- loop dari Note model -->
      {% if note %}
      {% for i in note %}
      <tr>
        <td>{{i.to}}</td>
        <td>{{i.From}}</td>
        <td>{{i.title}}</td>
        <td>{{i.message}}</td>
      </tr>
      {% endfor %}
      {% endif %}
    </table>
  </body>
</html>
