<form action=" " method="POST">

<hr>
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" class="button" value="Submit">
    <style>
        p {
            color: darkgreen;
            font-family: system-ui;
            font-size: 120%;
        }
    </style>
</form>

<style>
    .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        display: grid;
        font-size: 110%;
        cursor: pointer;
    }
</style>