<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <style>
    table {
      border: 3px solid blanchedalmond;
    }
    th, td {
      border: 2px solid beige;
      padding: 10px;
    }
    th {
      background-color: ghostwhite;
      color: saddlebrown;
      text-align: center;
    }
  </style>
  <body>
    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- loop dari Friend model -->
      {% if friends %}
      {% for i in friends %}
      <tr>
        <td>{{i.name}}</td>
        <td>{{i.npm}}</td>
        <td>{{i.dob}}</td>
      </tr>
      {% endfor %}
      {% endif %}
    </table>
  </body>
</html>
